
OtherModule/Pandas-Data-Science-Tasks/SalesAnalysis/all_sales_data.csv
OtherModule/Pandas-Data-Science-Tasks/SalesAnalysis/all_sales_data2.csv
HomeWorks/h2o-3.34.0.4/R/README.txt
HomeWorks/h2o-3.34.0.4/R/h2o_client_3.34.0.4.tar.gz
HomeWorks/h2o-3.34.0.4/R/h2o_3.34.0.4.tar.gz
HomeWorks/h2o-3.34.0.4/python/README.txt
HomeWorks/h2o-3.34.0.4/python/h2o_client-3.34.0.4-py2.py3-none-any.whl
HomeWorks/h2o-3.34.0.4/python/h2o-3.34.0.4-py2.py3-none-any.whl
HomeWorks/h2o-3.34.0.4/h2o.jar
HomeWorks/h2o-3.34.0.4/bindings/java/h2o-bindings-3.34.0.zip
~$пия Расписание_АД_поток 2.docx
