<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="ColumnOrder">
<entry key="array-size" type="xint" value="27"/>
<entry key="0" type="xstring" value="ORDERNUMBER"/>
<entry key="1" type="xstring" value="QUANTITYORDERED"/>
<entry key="2" type="xstring" value="PRICEEACH"/>
<entry key="3" type="xstring" value="ORDERLINENUMBER"/>
<entry key="4" type="xstring" value="SALES"/>
<entry key="5" type="xstring" value="ORDERDATE"/>
<entry key="6" type="xstring" value="DAYS_SINCE_LASTORDER"/>
<entry key="7" type="xstring" value="STATUS"/>
<entry key="8" type="xstring" value="PRODUCTLINE"/>
<entry key="9" type="xstring" value="MSRP"/>
<entry key="10" type="xstring" value="PRODUCTCODE"/>
<entry key="11" type="xstring" value="CUSTOMERNAME"/>
<entry key="12" type="xstring" value="PHONE"/>
<entry key="13" type="xstring" value="ADDRESSLINE1"/>
<entry key="14" type="xstring" value="CITY"/>
<entry key="15" type="xstring" value="POSTALCODE"/>
<entry key="16" type="xstring" value="COUNTRY"/>
<entry key="17" type="xstring" value="DEALSIZE"/>
<entry key="18" type="xstring" value="MONETARY"/>
<entry key="19" type="xstring" value="RECENCY"/>
<entry key="20" type="xstring" value="ORDERLINENUMBER [Binned]"/>
<entry key="21" type="xstring" value="MONETARY [Binned]"/>
<entry key="22" type="xstring" value="RECENCY [Binned]"/>
<entry key="23" type="xstring" value="RECENCY_HML"/>
<entry key="24" type="xstring" value="FREQUENCY_HML"/>
<entry key="25" type="xstring" value="MONETARY_HML"/>
<entry key="26" type="xstring" value="&lt;any unknown new column&gt;"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.columnresorter.ColumnResorterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Resorter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.2.v202103021015"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.2.v202103021015"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Resorter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 298, Cols: 26"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="95fa611f-59bd-45f1-86f1-65b369cd3287"/>
</config>
</config>
